/*
┌┐ ┌─┐┌─┐┌─┐
├┴┐├─┤└─┐├┤ 
└─┘┴ ┴└─┘└─┘
*/

/* Load settings and functions */
@use 'mixins' as mixins;
@use 'functions' as functions;

/* SCSS variables definition requirement */
$config: nil !default;
$theme: nil !default;

@each $tag, $properties in functions.get-theme($theme, 'html') {
  #{$tag} {
    @include mixins.generate-properties(#{$tag}, $properties, $config);
  }
}