/*
┌─┐┌─┐┌┐┌┌┬┐┌─┐┌┐┌┌┬┐
│  │ ││││ │ ├┤ │││ │
└─┘└─┘┘└┘ ┴ └─┘┘└┘ ┴
*/
@use 'sass:map';
@use 'sass:string';
@use "functions" as functions;
@use "./mixins" as mixins;

$config: nil !default;
$theme: nil !default;

$is-content-enabled: functions.get-config($config, 'enable.content');
$color_scheme: functions.get-config($config, 'color-scheme');

@if ($is-content-enabled) {
  .content {
    @each $tag, $properties in functions.get-theme($theme, 'content') {

      // Only apply styling to elements, that stand right after `.content` class
      & > #{$tag} {
        @include mixins.generate-properties(#{$tag}, $properties, $config);
      }
    }
  }
}