/*
┌─┐┌─┐┌┐┌┌┬┐┌─┐┌┐┌┌┬┐
│  │ ││││ │ ├┤ │││ │
└─┘└─┘┘└┘ ┴ └─┘┘└┘ ┴
*/

@use 'sass:map';
@use 'functions' as functions;

$config: nil !default;
$theme: nil !default;

$is-content-enabled: functions.get-config($config, 'enable.content');
$content-elements-margin: functions.get-config($config, 'content.elements.margin');

@if ($is-content-enabled) {
  .content {
    p,
    dl,
    ol,
    ul,
    blockquote,
    pre,
    table:not(:last-child) {
        margin-bottom: $content-elements-margin
    }
  }
}