/*
┌─┐┌─┐┌┐┌┌─┐┬┌─┐
│  │ ││││├┤ ││ ┬
└─┘└─┘┘└┘└  ┴└─┘
*/
@use "sass:map";

// Root

// ==================================================
// User config
// ==================================================
// Deep merged with the default config. This means that this will override existing keys and append new key value pairs.
$config: () !default;

$default-config: (
  prefix: 'xii',
  wrapper: '.wrapper'
);

// Container breakpoints
$breakpoints-config: (
  breakpoints: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
  ),
) !default;

$default-config: map.deep-merge($default-config, $breakpoints-config);

// Grid breakpoints
$grid-breakpoints-config: (
  grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
  ),
);

$default-config: map.deep-merge($default-config, $grid-breakpoints-config);

$color_scheme-config: (
  color-scheme: 'light dark',
);

$default-config: map.deep-merge($default-config, $color_scheme-config);

$enable-rules-config: (
  enable: (
    shadow: true,
    border-radius: true,
    transitions: true,
    reduced-motion: true,
    smooth-scroll: true,
    dark-theme: true,
    spacing: false,
    reset: true,
    rtl: false,
    button-pointers: true,
    content-class: true,
    wrapper: false,
  ),
);

$default-config: map.deep-merge($default-config, $enable-rules-config);

// Content
$content-default-config: (
  content: (
    elements: (
      margin: 0 0 1rem 0,
    ),
  ),
) !default;

$default-config: map.deep-merge($default-config, $content-default-config);

// Z-index
$z-index-config: (
  z-index: (
    tooltip: 3,
    dropdown: 4,
    header: 5,
    overlay: 6,
    modal : 7,
  ),
) !default;

$default-config: map.deep-merge($default-config, $z-index-config);

$config: map.deep-merge($default-config, $config);
