/*
┬─┐┌─┐┌─┐┌─┐┌┬┐
├┬┘├┤ └─┐├┤  │
┴└─└─┘└─┘└─┘ ┴
*/
@use 'sass:map';
@use 'functions' as functions;

$config: nil !default;
$theme: nil !default;

$prefix: functions.get-config($config, 'prefix');
$smooth-scroll: functions.get-config($config, 'enable', 'smooth-scroll');
$body-font-family: functions.get-config($config, 'html', 'body', 'fonts', 'default');
$body-font-size: functions.get-config($config, 'html', 'body', 'fonts', 'size');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  @if $smooth-scroll {
    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }
}


// Body
// scss-docs-start reboot-body-rules
body {
  margin: 0;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: var(--#{config.$prefix}body-font-weight);
  line-height: var(--#{config.$prefix}body-line-height);
  color: var(--#{config.$prefix}body-color);
  text-align: var(--#{config.$prefix}body-text-align);
  background-color: var(--#{config.$prefix}body-bg);

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// scss-docs-end reboot-body-rules

// Typography
%heading {
  margin: 0;
  font-family: config.$headings-font-family;
  font-style: config.$headings-font-style;
  font-weight: config.$headings-font-weight;
  line-height: config.$headings-line-height;
}

h1 {
  @extend %heading;
  font-size: config.$h1-font-size;
}

h2 {
  @extend %heading;
  font-size: config.$h2-font-size;
}

h3 {
  @extend %heading;
  font-size: config.$h3-font-size;
}

h4 {
  @extend %heading;
  font-size: config.$h4-font-size;
}

h5 {
  @extend %heading;
  font-size: config.$h5-font-size;
}

h6 {
  @extend %heading;
  font-size: config.$h6-font-size;
}

// Paragraphs
p {
  margin-top: 0;
  margin-bottom: config.$paragraph-margin-bottom;
}


// Abbreviations
abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}


// Address

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}


// Lists
ol,
ul,
dl {
  padding: 0;
  margin: 0;
}

dt {
  font-weight: 600;
}

dd {
  margin: 0;
}


// Blockquote
blockquote {
  margin: 0;
}


// Strong
b,
strong {
  font-weight: 700;
}


// Small
small {
  font-size: config.$small-font-size;
}


// Mark
mark {
  padding: config.$mark-padding;
  background-color: var(--#{config.$prefix}highlight-bg);
}


// Sub and Sup
sub,
sup {
  position: relative;
  font-size: config.$sub-sup-font-size;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

// Links
a {
  color: var(--#{config.$prefix}link-color);
  text-decoration: config.$link-decoration;

  &:hover {
    color: var(--#{config.$prefix}link-hover-color);
    text-decoration: config.$link-hover-decoration;
  }
}

a:not([href]):not([class]) {
  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}


// Code

pre,
code,
kbd,
samp {
  font-family: config.$font-family-code;
  font-size: 1em
}

pre {
  display: block;
  margin-top: 0; // 1
  margin-bottom: 1rem; // 2
  overflow: auto; // 3
  font-size: config.$code-font-size;
  color: config.$pre-color;

  // Account for some code outputs that place code tags in pre tags
  code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
}

code {
  font-size: config.$code-font-size;
  color: var(--#{config.$prefix}code-color);
  word-wrap: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

kbd {
  padding: config.$kbd-padding-y config.$kbd-padding-x;
  font-size: config.$kbd-font-size;
  color: config.$kbd-color;
  background-color: config.$kbd-bg;

  kbd {
    padding: 0;
    font-size: 1em;
  }
}


// Figures
figure {
  margin: 0 0 1rem;
}


// Images and content
img,
svg {
  vertical-align: middle;
}


// Tables
table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: config.$table-cell-padding-y;
  padding-bottom: config.$table-cell-padding-y;
  color: config.$table-caption-color;
  text-align: left;
}

th {
  font-weight: config.$table-th-font-weight;
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}


// Forms
label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;

  &:disabled {
    opacity: 1;
  }
}

[list]:not([type="date"]):not([type="datetime-local"]):not([type="month"]):not([type="week"]):not([type="time"])::-webkit-calendar-picker-indicator {
  display: none !important;
}

button,
[type="button"], // 1
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // 2

  @if config.$enable-button-pointers {
    &:not(:disabled) {
      cursor: pointer; // 3
    }
  }
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// Textarea
textarea {
  resize: vertical;
}

// Fieldset
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

// Legend
legend {
  float: left; // 1
  width: 100%;
  padding: 0;
  margin-bottom: config.$legend-margin-bottom;
  font-size: config.$legend-font-size;
  font-weight: config.$legend-font-weight;
  line-height: inherit;

  + * {
    clear: left; // 2
  }
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

// Output
output {
  display: inline-block;
}

// iFrame
iframe {
  border: 0;
}

// HR
hr {
  margin: 0;
  border: 0;
  color: transparent;
  border-top: config.$hr-border-width solid config.$hr-border-color;
}

// Summary
summary {
  display: list-item;
  cursor: pointer;
}

// Progress
progress {
  vertical-align: baseline;
}

// Hidden attribute
[hidden] {
  display: none !important;
}
