/* - ૮₍ ˃ ⤙ ˂ ₎ა – root  */
@use 'sass:string';

@use './mixins' as mixins;
@use "./functions" as functions;

$config: () !default;
$theme: () !default;

$prefix: functions.get-config($config, "prefix");

$is-smooth-scroll-enabled: functions.get-config(
  $config,
  'enable.smooth-scroll'
);

:root {
  /* 🌱𖣂🫚🌿 */
  @include mixins.generate-properties(
    'root',
    functions.get-theme($theme, 'root'),
    $config,
  );

  @if $is-smooth-scroll-enabled {
    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }
}