/* - ૮₍ ˃ ⤙ ˂ ₎ა – root  */
@use "sass:string";
@use "./mixins" as mixins;
@use "./functions" as functions;

$config: () !default;
$theme: () !default;

$prefix: functions.get-config($config, "prefix");

$is-smooth-scroll-enabled: functions.get-config(
  $config,
  "enable.smooth-scroll"
);

$color_scheme: functions.get-config($config, "color-scheme");

$root-variables: functions.get-theme($theme, "root.variables");

:root {
  @if $is-smooth-scroll-enabled {
    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  & {
    color-scheme: string.unquote($color_scheme);
  }

  @include mixins.generate-properties(
    "root",
    functions.get-theme($theme, "root"),
    $config
  );
}
