@use "config";
@use 'sass:map';

$config: nil !default;
$theme: nil !default;

// Utilities
// @TODO add grid rules here later

$utilities: () !default;

$utilities: map.merge((
  "display" : (

  ),
  // Flex
  "flex-direction" : (

  ),
  "flex-glow" : (

  ),
  "flex-shrink" : (

  ),
  "flex-wrap" : (

  ),
  
  "align-items" : (

  ),
  "align-content" : (

  ),
  "align-self" : (

  ),
  "order" : (

  ),

  "vertical-align" : (

  ),

  "float" : (

  ),

  "overflow" : (

  ),

  "position" : (

  ),

  "width" : (

  ),

  "max-width" : (

  ),

  // @TODO inspect later
  "min-height" : (

  ),

  "text-align" : (

  ),

  "word-wrap" : (

  ),

  "white-space" : (

  ),

  "user-select" : (

  ),

  "visibility" : (

  )
), $uti)
