// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;

// Grid columns
$grid-columns: 24 !default;

// Options
$enable-grid-classes:       true !default;
$enable-container-classes:  true !default;
$enable-cssgrid:            false !default;

// Prefix for :root CSS variables
$prefix:                    base- !default;
