.content {
  //background: radial-gradient(94.32% 94.6% at 4.04% -44.6%, rgba(47, 138, 245, .4) 0%, rgba(0, 43, 94, 0) 100%), linear-gradient(0deg, #06070A, #06070A);;

  h1, h2, h3, h4, h5, h6, p, ul, ol, div {
    margin-bottom: 1rem;
  }

  code {
    background: #fbf2e9;
    padding: 0.2em;
  }

  .highlight code {
    background: transparent;
    padding: 0;
  }

}
