.content {
  //background: radial-gradient(94.32% 94.6% at 4.04% -44.6%, rgba(47, 138, 245, .4) 0%, rgba(0, 43, 94, 0) 100%), linear-gradient(0deg, #06070A, #06070A);;
}

.github {
  width: 100%;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  background-color: rgba(238, 238, 238, 0.95);
  text-align: center;
}
