@use 'sass:map';
@use '../config';

$config: nil !default;
$theme: nil !default;

$breakpoints : config.$container-breakpoints-config;

@mixin breakpoint($name) {

  @if not map-has-key($breakpoints, $name) {
    //@error 'Oops! Invalid breakpoint.';
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    @media (min-width: map.get($breakpoints, $name)) {
      @content;
    }
  }

}