// Button variants

// scss-docs-start btn-variant-mixin
@mixin button-variant(
  $background : null,
  $border : null,
  $color : null,
  $hover-background : null,
  $hover-border : null,
  $hover-color : null,
  $focus-shadow: null,
  $active-background : null,
  $active-border : null,
  $active-color : null,
  $disabled-background : null,
  $disabled-border : null,
  $disabled-color : null,
) {

  // Default state
  @if($background != null) {
    --#{$prefix}btn-bg: #{$background};
  }

  @if($border != null) {
    --#{$prefix}btn-border-color: #{$border};
  }

  @if($color != null) {
    --#{$prefix}btn-color: #{$color};
  }

  // Hover state
  @if($hover-background != null) {
    --#{$prefix}btn-hover-bg: #{$hover-background};
  }

  @if($hover-border != null) {
    --#{$prefix}btn-hover-border-color: #{$hover-border};
  }

  @if($hover-color != null) {
    --#{$prefix}btn-hover-color: #{$hover-color};
  }

  @if($focus-shadow != null) {
    --#{$prefix}btn-focus-box-shadow: #{$focus-shadow};
  }

  // Active state
  @if($active-background != null) {
    --#{$prefix}btn-active-bg: #{$active-background};
  }

  @if($active-border != null) {
    --#{$prefix}btn-active-border-color: #{$active-border};
  }

  @if($active-color != null) {
    --#{$prefix}btn-active-color: #{$active-color};
  }

  @if($btn-active-box-shadow != null) {
    --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
  }

  // Disabled state
  @if($disabled-border != null) {
    --#{$prefix}btn-disabled-border-color: #{$disabled-border};
  }

  @if($disabled-background != null) {
    --#{$prefix}btn-disabled-bg: #{$disabled-background};
  }

  @if($disabled-color != null) {
    --#{$prefix}btn-disabled-color: #{$disabled-color};
  }
}
// scss-docs-end btn-variant-mixin

// scss-docs-start btn-outline-variant-mixin
@mixin button-outline-variant(
  $color,
  $color-hover: color-contrast($color),
  $active-background: $color,
  $active-border: $color,
  $active-color: color-contrast($active-background)
) {
  --#{$prefix}btn-color: #{$color};
  --#{$prefix}btn-border-color: #{$color};
  --#{$prefix}btn-hover-color: #{$color-hover};
  --#{$prefix}btn-hover-bg: #{$active-background};
  --#{$prefix}btn-hover-border-color: #{$active-border};
  //--#{$prefix}btn-focus-shadow-rgb: #{to-rgb($color)};
  --#{$prefix}btn-active-color: #{$active-color};
  --#{$prefix}btn-active-bg: #{$active-background};
  --#{$prefix}btn-active-border-color: #{$active-border};
  --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
  --#{$prefix}btn-disabled-color: #{$color};
  --#{$prefix}btn-disabled-bg: transparent;
  --#{$prefix}btn-disabled-border-color: #{$color};
  --#{$prefix}gradient: none;
}
// scss-docs-end btn-outline-variant-mixin

// scss-docs-start btn-size-mixin
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  // Manually declare to provide an override to the browser default
  @include border-radius($border-radius, 0);
}
// scss-docs-end btn-size-mixin
