@use '../config';

// Button variants
// scss-docs-start btn-variant-mixin
@mixin button-variant($state, $options) {

  @if ($state == 'origin') {
    @each $name, $value in $options {

      // Default state
      @if ($name == 'background') {
        --#{config.$prefix}btn-bg: #{$value};
      }

      @if ($name == 'border') {
        --#{config.$prefix}btn-border-color: #{$value};
      }

      @if ($name == 'color') {
        --#{config.$prefix}btn-color: #{$value};
      }
    }
  }

  @if ($state == 'hover') {
    @each $name, $value in $options {
      // Hover state
      @if ($name == 'background') {
        --#{config.$prefix}btn-hover-bg: #{$value};
      }

      @if ($name == 'border') {
        --#{config.$prefix}btn-hover-border-color: #{$value};
      }

      @if ($name == 'color') {
        --#{config.$prefix}btn-hover-color: #{$value};
      }

      //@if ($focus-shadow != null) {
      //  --#{config.$prefix}btn-focus-shadow-rgb: #{$focus-shadow};
      //}
    }
  }

  @if ($state == 'active') {
    @each $name, $value in $options {
      // Active state
      @if ($name == 'background') {
        --#{config.$prefix}btn-active-bg: #{$value};
      }

      @if ($name == 'border') {
        --#{config.$prefix}btn-active-border-color: #{$value};
      }

      @if ($name == 'color') {
        --#{config.$prefix}btn-active-color: #{$value};
      }

      //@if($btn-active-box-shadow != null) {
      //  --#{config.$prefix}btn-active-shadow: #{$btn-active-box-shadow};
      //}
    }
  }

  @if ($state == 'disabled') {
    @each $name, $value in $options {

      // Disabled state
      @if ($name == 'background') {
        --#{config.$prefix}btn-disabled-bg: #{$value};
      }

      @if ($name == 'border') {
        --#{config.$prefix}btn-disabled-border-color: #{$value};
      }

      @if ($name == 'color') {
        --#{config.$prefix}btn-disabled-color: #{$value};
      }

    }
  }
}

// scss-docs-end btn-variant-mixin

// scss-docs-start btn-outline-variant-mixin
@mixin button-outline-variant(
  $color,
  $color-hover: color-contrast($color),
  $active-background: $color,
  $active-border: $color,
  $active-color: color-contrast($active-background)
) {
  --#{config.$prefix}btn-color: #{$color};
  --#{config.$prefix}btn-border-color: #{$color};
  --#{config.$prefix}btn-hover-color: #{$color-hover};
  --#{config.$prefix}btn-hover-bg: #{$active-background};
  --#{config.$prefix}btn-hover-border-color: #{$active-border};
  //--#{config.$prefix}btn-focus-shadow-rgb: #{to-rgb($color)};
  --#{config.$prefix}btn-active-color: #{$active-color};
  --#{config.$prefix}btn-active-bg: #{$active-background};
  --#{config.$prefix}btn-active-border-color: #{$active-border};
  --#{config.$prefix}btn-active-shadow: #{$btn-active-box-shadow};
  --#{config.$prefix}btn-disabled-color: #{$color};
  --#{config.$prefix}btn-disabled-bg: transparent;
  --#{config.$prefix}btn-disabled-border-color: #{$color};
  --#{config.$prefix}gradient: none;
}

// scss-docs-end btn-outline-variant-mixin

// scss-docs-start btn-size-mixin
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  // Manually declare to provide an override to the browser default
  //@include border-radius($border-radius, 0);
}

// scss-docs-end btn-size-mixin
