@use '../config';
@use './breakpoints' as mixins;
@use '../functions' as functions;

@mixin generate_columns($size: false, $columns) {
  @if $size {
    flex: 0 0 auto;
    width: percentage(functions.divide($size, $columns));

  } @else {
    flex: 1 1 0;
    max-width: 100%;
  }
}

// Framework grid generation
@mixin generate_grid_columns($columns, $breakpoints) {

  @each $breakpoint in map-keys($breakpoints) {
    $infix: mixins.breakpoint-infix($breakpoint, $breakpoints);

    @include mixins.media-breakpoint-up($breakpoint, $breakpoints) {

      .col#{$infix} {
        flex: 1 0 0;
      }

      .col#{$infix}-auto {
        flex: 0 0 auto;
        width: auto;
      }

      @if $columns > 0 {
        @for $i from 1 through $columns {
          .col#{$infix}-#{$i} {
            @include generate_columns($i, $columns);
          }
        }

      }

    }
  }
}
