@use 'sass:map';

// Utility generator
// Used to generate utilities & print utilities
@mixin generate-utility($property, $settings) {
  $class : map.get($settings, 'property');
  $values : map.get($settings, 'values');
  $suffix : map.get($settings, 'suffix');

  @each $name, $value in $values {
    .#{$name} {
      #{$property} : #{$value};
    }
  }
}