body {
	background: url('../_tmp/bg_pattern.jpg') repeat 0 0;
}

body .bg {
	background: url('../tmp/_del/bg.png') repeat 0 0;
}

body .bg-shiny {
	background: url('../tmp/_del/bg_shiny.png') no-repeat top center;
}

body.innerBackground {
	background: white;
}

.b-intro {
	position: relative;
	overflow: hidden;
	height: 540px;

	background: rgb(0, 183, 234); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjdlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDllYzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 183, 234, 1)), color-stop(100%, rgba(0, 158, 195, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#009ec3', GradientType=0); /* IE6-8 */
	z-index: 3;
}

.b-intro:after {
	background: url('../tmp/_del/_welcome_bg.png') no-repeat bottom center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
	content: '';
	height: 540px;
	width: 100%;
}

.b-intro .welcome {
	position: absolute;
	top: 140px;
	left: 0;
	z-index: 5;
	width: 100%;

	text-align:center;
}

.b-intro .welcome .title {

	width: 100%;
	font-size: 7em;
	text-align: center;
	display: inline-block;
	margin: 0 auto;

	text-shadow: 1px 1px 1px #000000;
	background: transparent; /* Feedback color */

	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000')"; /* For IE8 */
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000'); /* For IE6,IE7 */

	zoom: 1;
	font-weight: bold;
	color: #ffffff;
	padding: 5px 20px 15px 10px;

	-webkit-box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);

	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(40%, #000000), color-stop(100%, rgba(0, 0, 0, 0.6)));
}

.b-intro .welcome .subtitle {
	width: 100%;
	font-size: 3.5em;
	text-align: center;

	text-shadow: 1px 1px 1px #000000;
	background: transparent; /* Feedback color */

	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000')"; /* For IE8 */
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000'); /* For IE6,IE7 */

	zoom: 1;
	margin: 0 auto 10px auto;
	display: inline-block;
	font-weight: normal;
	color: #ffffff;
	padding: 5px 20px 15px 10px;

	-webkit-box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);

	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(40%, #000000), color-stop(100%, rgba(0, 0, 0, 0.6)));

}

.b-social {
	background-color: #f5f5f5;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}

.b-social .buttons {
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.b-social .buttons li {
	display: inline-block;
	padding: 5px 8px;
	line-height: 1;
}

.b-social .buttons li.gplus {
	width: 75px;
}

.b-social .buttons li.tweetbtn {
	width: 90px;
}

.b-social .buttons li.gitbtn {
	width: 70px;
}

.l-content {
	background: #ffffff;
}

.l-content .odd {
	background: url('../_tmp/_del/png.png') no-repeat center top;
}

.b-showcase .section-delimitter {
	border-top: 1px solid #e8e8e8;
	background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 9%, rgba(255, 255, 255, 1) 100%);
	background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 9%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 9%, rgba(255, 255, 255, 1) 100%);
}

.b-content-introduction .greetings {
	font-weight: 300;
	font-size: 1.5em;
	color: #676767;
	padding: 10px 80px;
	text-align: center;
	text-shadow: 1px 1px 1px #ffffff;
}

.l-content .section-title {
	width: 100%;
	font-size: 2.3em;
	line-height: 1.2142em;
	color: #555555;

	text-shadow: 1px 1px 1px #ffffff;
	background: transparent; /* Feedback color */

	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000')"; /* For IE8 */
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000'); /* For IE6,IE7 */

	zoom: 1;
	margin: 0 auto;
	display: inline-block;
	font-weight: bold;
	padding: 5px 20px 15px 0;

	-webkit-box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);

	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(40%, #000000), color-stop(100%, rgba(0, 0, 0, 0.6)));

	text-align: left;

}

.l-content .section-text {
	font-size: 1.1em;
	color: #676767;
	text-shadow: 1px 1px 1px #ffffff;
	line-height: 1.3em;
}

.l-content .l-inner {
	padding: 10px 20px;
}

/* GRID examples */

.b-section-grid {

}

.b-section-grid .img.grid {
	background:url('../_tmp/+grid.png') no-repeat 0 0 ;
	width:400px;
	height:200px;
}

.b-section-grid .sub-section {

	background: rgb(239, 239, 239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239, 239, 239, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(239, 239, 239, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#efefef', GradientType=0); /* IE6-9 */

	border-top: 1px solid #e5e5e5;
}

.b-section-grid .odd .sub-section {
	background: url('../_tmp/_del/section_bg_top.jpg') repeat-x 0 0;
}

.b-section-grid .sub-section .column {
	text-align: center;
	min-height: 1em;
	line-height: 2.5em;
	background: #23a0bf;
	margin-top: -1px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25), 5px, 0, 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.25), 5px, 0, 0;
	box-shadow: rgba(0, 0, 0, 0.25), 5px, 0, 0;
	color: white;
	font-weight: bold;

	border-right:1px dashed #ccc;
}

.b-section-grid .sub-section .column:last-child {
	border:none;
}

.b-section-grid .sub-section .basics,
.b-section-grid .sub-section .mobile {
	margin: 0 auto 10px auto;
}

.b-section-grid .sub-section .nesting {

	margin: 0 auto;
	text-align:center;

}

.b-section-grid .sub-section .nesting .row {
	margin: 0 25px;
	position: relative;
	z-index: 4;

}

.b-section-grid .sub-section .nesting .row:before {
	position: absolute;
	left: -12px;
	top: 0;
	content: '';
	display: block;
	z-index: 5 !important;
	width: 32px;
	height: 32px;
	background: url('../_tmp/_del/+grid_nested_arrow.png') no-repeat 0 0;
}

.b-section-grid .sub-section .nesting .column .column {
	background: rgba(255,255,25,0.1);

	border: 1px dashed #cccccc;
}


	.b-section-grid .sub-section .nesting .column .column:nth-child(1) {
		border-right:none;
	}

	.b-section-grid .sub-section .nesting .column .column:nth-child(2){
		border-bottom: none;
	}

	.b-section-grid .sub-section .nesting .column .column:nth-child(3) {
		border-left:none;
	}

.b-section-grid .sub-section .nesting .row .row .column {
	background: rgba(255,255,25,0.1);

	border: 1px dashed #cccccc;
	border-bottom: none;
}

.b-section-grid .sub-section .nesting .row .row .column:nth-child(2) {
	border-left:none;
	border-right:none;
}

.b-section-grid .sub-section .centering {
	background: #23a0bf;
}

.b-section-grid .sub-section .centering .column {

	background: rgba(255,255,25,0.1);
	margin: 0 auto;

	border: 1px dashed #cccccc;
}

	.b-section-grid .sub-section .centering .column:nth-child(1) {
		border-bottom:none;
	}

	.b-section-grid .sub-section .centering .column:nth-child(2) {
		border-bottom:none;
	}

/* MENU examples */

.b-section-menu {

}

.b-section-menu .sub-section {

	background: rgb(239, 239, 239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239, 239, 239, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(239, 239, 239, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#efefef', GradientType=0); /* IE6-9 */

	border-top: 1px solid #e5e5e5;

}

.b-section-menu .sub-section .l-inner {
	padding: 0 20px;
}

.b-section-typography .sub-section {
	background: rgb(239, 239, 239);
	background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239, 239, 239, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(239, 239, 239, 1)));
	background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%);
	background: -o-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%);
	background: -ms-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%);
	background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#efefef', GradientType=0);
	border-top: 1px solid #e5e5e5;

}

.b-section-ui .sub-section {

	background: rgb(239, 239, 239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239, 239, 239, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(239, 239, 239, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#efefef', GradientType=0); /* IE6-9 */

	border-top: 1px solid #e5e5e5;

}

.b-section-js .sub-section {

	background: rgb(239, 239, 239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239, 239, 239, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(239, 239, 239, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#efefef', GradientType=0); /* IE6-9 */

	border-top: 1px solid #e5e5e5;

}

.b-nav {

}

.b-showcase {
	background: #ffffff;
}

.b-outro {
	background: #ffffff;
}

.footer {
	border-top: 1px solid #e5e5e5;
	background-color: #212121;
	color: #fefefe;
}

.b-end {
	position: relative;
	overflow: hidden;
	height: 420px;

	background: rgb(0, 183, 234); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjdlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDllYzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 183, 234, 1)), color-stop(100%, rgba(0, 158, 195, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#009ec3', GradientType=0); /* IE6-8 */
}

.b-end:after {
	background: url('../_tmp/_del/_footer_bg.png') no-repeat top center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	content: '';
}

/* MEDIA QUERIES SELECTOR */

#b-top-bar-breakpoints {
	line-height: 30px;
}

.b-top-bar-breakpoint-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
}

.b-top-bar-breakpoint {
	background: transparent;
	display: block;
	position: relative;
	height: 32px;
	font-size: 11px;
	margin: 0 auto;
	text-align: left;
	border: none;
	padding: 0;
	-webkit-transition: background-color 150ms linear;
	-moz-transition: background-color 150ms linear;
	-o-transition: background-color 150ms linear;
	-ms-transition: background-color 150ms linear;
	transition: background-color 150ms linear;
}

.b-top-bar-breakpoint:before {
	left: -1px;
}

.b-top-bar-breakpoint:before, .b-top-bar-breakpoint:after {
	display: block;
	background: url('../_tmp/_del/query_mark.gif');
	height: 32px;
	width: 1px;
	content: '';
	position: absolute;
	top: 0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.b-top-bar-breakpoint:after {
	right: -1px;
}

.b-top-bar-breakpoint:before, .b-top-bar-breakpoint:after {
	display: block;
	background: url('../_tmp/_del/query_mark.gif');
	height: 32px;
	width: 1px;
	content: '';
	position: absolute;
	top: 0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.b-breakpoint-color {
	height: 32px;
	opacity: 0;
	-webkit-transition: all 175ms ease;
	-moz-transition: all 175ms ease;
	-o-transition: all 175ms ease;
	transition: all 175ms ease;
}

.b-breakpoint-name {
	color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	display: none;
	font-size: 24px;
}

.b-breakpoint-name i.icon-desktop {
	font-size: 20px;
	top: -3px;
}

.b-breakpoint-name i {
	position: relative;
}

.icon-desktop:before {
	content: 'f108';
}

#b-control-elements a, #b-control-elements div {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#b-top-bar-actions, #b-top-bar-breakpoints {
	-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.66);
	-moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.66);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.66);
}

#b-top-bar-breakpoints {
	background-color: rgba(255, 255, 255, 0.8);
	position: fixed;
	z-index: 99999;
	top: 0;
	height: 32px;
	line-height: 30px;
	width: 100%;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.b-top-bar-breakpoint.active .b-breakpoint-width-left, .b-top-bar-breakpoint.active .b-breakpoint-width-right {
	text-shadow: 0 0 1px #888;
}

.b-top-bar-breakpoint.active .b-breakpoint-width-left, .b-top-bar-breakpoint.active .b-breakpoint-width-right {
	font-weight: bold;
}

.b-breakpoint-width-right {
	right: -20px;
}

.b-breakpoint-width-left {
	left: -20px;
}

.b-breakpoint-width-left, .b-breakpoint-width-right {
	color: #000;
	font-size: 1em;
	position: absolute;
	top: 1px;
	display: block;
	width: 40px;
	text-align: center;
	opacity: 1;
	line-height: 30px;
	-webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#b-top-bar-breakpoints:not(:hover) .active > .b-breakpoint-name {
	display: block !important;
}

.b-top-bar-breakpoint:hover .b-breakpoint-color {
	opacity: 1
}

.b-footer {

}

.b-footer .copyright {
	list-style-type:none;
}

.b-footer .copyright .item {
	display:inline-block;
	padding:0 3px;
}

.l-mediaWrapper {
	margin: 32px auto 0 auto;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	display: block;
}

.g-shortparagraph {
	background: url('../_tmp/short_paragraph.png') no-repeat 0 center;
	width:100%;
	height: 100px;
}