@use 'sass:map';

@use '../functions' as functions;
@use '../mixins' as mixins;
@use '../utilities' as utilities;

$config: nil !default;
$theme: nil !default;

$grid-breakpoints: functions.get-config($config, 'grid-breakpoints');

// Loop over each breakpoint
@each $property, $settings in utilities.$utilities {
  @include mixins.generate-utility($property, $settings);
}

// Print utilities
@media print {
//  @each $key, $utility in utilities.$utilities {
//    @if type-of($utility) == "map" and map-get($utility, print) == true {
//      @include mixins.generate-utility($utility, "-print");
//    }
//  }
}
