/*
*
┌─┐┬  ┌─┐┬─┐┌┬┐┌─┐
├─┤│  ├┤ ├┬┘ │ └─┐
┴ ┴┴─┘└─┘┴└─ ┴ └─┘
*
*/

.alert {

  position: relative;
  display: flex;

  // scss-docs-start alert-css-vars

  --#{$prefix}alert-border-radius: .25rem;
  --#{$prefix}alert-padding: 1.25rem;
  --#{$prefix}alert-icon-size: 1.25rem;
  --#{$prefix}alert-icon-padding: 1rem;
  --#{$prefix}alert-padding-dismissable: 2rem;

  --#{$prefix}alert-dismiss-btn-position-top: .5rem;
  --#{$prefix}alert-dismiss-btn-position-right: .4rem;

  --#{$prefix}alert-close-button-color: rgba(92, 95, 98, 1);
  --#{$prefix}alert-close-button-color-hover: rgba(26, 28, 29, 1);

  // Default alert
  --#{$prefix}alert-icon-fill: rgba(92, 95, 98, 1);
  --#{$prefix}alert-bg: rgba(246, 246, 247, 1);
  --#{$prefix}alert-box-shadow: inset 0 0.0625rem 0 0 rgba(186, 191, 195, 1), inset 0 0 0 0.0625rem rgba(186, 191, 195, 1);


  // Success alert
  --#{$prefix}alert-icon-success-fill: rgba(0, 127, 95, 1);
  --#{$prefix}alert-success-bg: rgba(214, 244, 225, 1);
  --#{$prefix}alert-success-shadow: inset 0 0.0625rem 0 0 rgba(149, 201, 180, 1), inset 0 0 0 0.0625rem rgba(149, 201, 180, 1);

  // Information alert
  --#{$prefix}alert-icon-information-fill: rgba(0, 160, 172, 1);
  --#{$prefix}alert-information-bg: rgba(222, 241, 249, 1);
  --#{$prefix}alert-information-shadow: inset 0 0.0625rem 0 0 rgba(152, 198, 205, 1), inset 0 0 0 0.0625rem rgba(152, 198, 205, 1);

  // Warning alert
  --#{$prefix}alert-icon-warning-fill: rgba(193, 143, 0, 1);
  --#{$prefix}alert-warning-bg: rgba(254, 238, 221, 1);
  --#{$prefix}alert-warning-shadow: inset 0 0.0625rem 0 0 rgba(225, 184, 120, 1), inset 0 0 0 0.0625rem rgba(225, 184, 120, 1);

  // Critical alert
  --#{$prefix}alert-icon-critical-fill: rgba(215, 44, 13, 1);
  --#{$prefix}alert-critical-bg: rgba(253, 232, 232, 1);
  --#{$prefix}alert-critical-shadow: inset 0 0.0625rem 0 0 rgba(224, 179, 178, 1), inset 0 0 0 0.0625rem rgba(224, 179, 178, 1);

  // scss-docs-end alert-css-vars

  @include border-radius(var(--#{$prefix}alert-border-radius));
  @include box-shadow(var(--#{$prefix}alert-box-shadow));

  padding: var(--#{$prefix}alert-padding);
  outline: 1px solid transparent;

  background: var(--#{$prefix}alert-bg);

  .icon-wrapper {
    padding-right: var(--#{$prefix}alert-icon-padding);

    .icon {
      height: var(--#{$prefix}alert-icon-size);
      width: var(--#{$prefix}alert-icon-size);
      color: var(--#{$prefix}alert-icon-fill);

      display: block;
      max-height: 100%;
      max-width: 100%;
      margin: auto;

      > svg {
        display: block;
      }
    }
  }

  .content-wrapper {
    flex: 1 1 auto;

    .title {
      font-weight: 500;
      margin-top: -0.225rem;
    }

    .content {
      word-wrap: break-word;
      word-break: break-word;
      overflow-wrap: break-word;

      font-weight: 300;
      font-size: 0.825rem;

      & + .actions {
        padding-top: 1rem;
      }
    }
  }

  &.dismissible {
    padding-right: calc(var(--#{$prefix}alert-icon-size) + var(--#{$prefix}alert-padding-dismissable));

    .dismiss-wrapper {
      top: var(--#{$prefix}alert-dismiss-btn-position-top);
      right: var(--#{$prefix}alert-dismiss-btn-position-right);
      position: absolute;

      .btn-close {
        box-shadow: none;
        border: none;
        color: var(--#{$prefix}alert-close-button-color);

        &:hover {
          box-shadow: none;
          color: var(--#{$prefix}alert-close-button-color-hover);
        }
      }
    }
  }

  &.success {
    background: var(--#{$prefix}alert-success-bg);
    box-shadow: var(--#{$prefix}alert-success-shadow);

    .icon-wrapper {
      .icon {
        color: var(--#{$prefix}alert-icon-success-fill);
      }
    }
  }

  &.information {
    background: var(--#{$prefix}alert-information-bg);
    box-shadow: var(--#{$prefix}alert-information-shadow);

    .icon-wrapper {
      .icon {
        color: var(--#{$prefix}alert-icon-information-fill);
      }
    }
  }

  &.warning {
    background: var(--#{$prefix}alert-warning-bg);
    box-shadow: var(--#{$prefix}alert-warning-shadow);

    .icon-wrapper {
      .icon {
        color: var(--#{$prefix}alert-icon-warning-fill);
      }
    }
  }

  &.critical {
    background: var(--#{$prefix}alert-critical-bg);
    box-shadow: var(--#{$prefix}alert-critical-shadow);

    .icon-wrapper {
      .icon {
        color: var(--#{$prefix}alert-icon-critical-fill);
      }
    }
  }
}
