/**
┌─┐┬  ┌─┐┬─┐┌┬┐┌─┐
├─┤│  ├┤ ├┬┘ │ └─┐
┴ ┴┴─┘└─┘┴└─ ┴ └─┘
**/

@use '../mixins' as mixins;
@use '../functions' as functions;

@use '../mixins/variants/alert' as variants;

$config: nil !default;
$theme: nil !default;

$prefix: functions.get-config($config, 'prefix');
$color-scheme: functions.get-config($config, 'color-scheme');

$is-shadow-enabled: functions.get-config($config, 'shadow');
$is-border-radius-enabled: functions.get-config($config, 'border-radius');

$alert-component: functions.get-theme($theme, 'components.alert');

.alert {

  position: relative;
  display: flex;

  padding: var(--#{$prefix}-alert-padding);
  outline: 1px solid transparent;
  border: var(--#{$prefix}-alert-border);
  background: var(--#{$prefix}-alert-background);
//  box-shadow: var(--#{$prefix}-alert-box-shadow);

  @include mixins.generate-properties('alert', $alert-component, $config);

  @if($is-border-radius-enabled) {
    @include mixins.border-radius(var(--#{$prefix}-alert-border-radius));
  }

  @if($is-shadow-enabled) {
    @include mixins.box-shadow(var(--#{$prefix}-alert-box-shadow));
  }
}
