/*
*
┌─┐┬  ┌─┐┬─┐┌┬┐┌─┐
├─┤│  ├┤ ├┬┘ │ └─┐
┴ ┴┴─┘└─┘┴└─ ┴ └─┘
*
*/

.alert {

  position: relative;
  display: flex;

  --#{$prefix}alert-border-radius: .25rem;
  --#{$prefix}alert-padding: 1.25rem;
  --#{$prefix}alert-icon-size: 1.25rem;
  --#{$prefix}alert-icon-padding: 1rem;
  --#{$prefix}alert-padding-dismissable: 2rem;
  --#{$prefix}alert-dismiss-btn-position-top: 1rem;
  --#{$prefix}alert-dismiss-btn-position-right: 1rem;
  --#{$prefix}alert-box-shadow: inset 0 0.0625rem 0 0 rgba(186, 191, 195, 1), inset 0 0 0 0.0625rem rgba(186, 191, 195, 1);

  @include border-radius(var(--#{$prefix}alert-border-radius));
  @include box-shadow(var(--#{$prefix}alert-box-shadow));

  padding: var(--#{$prefix}alert-padding);
  outline: 1px solid transparent;

  .icon-wrapper {
    padding-right: var(--#{$prefix}alert-icon-padding);

    .icon {
      height: var(--#{$prefix}alert-icon-size);
      width: var(--#{$prefix}alert-icon-size);

      display: inline-block;
      max-height: 100%;
      max-width: 100%;
      margin: auto;

    }
  }

  .wrapper {
    flex: 1 1 auto;

    .title {
      font-weight: 600;
    }

    .content {

    }
  }

  &.dismissable {
    padding-right: calc(var(--#{$prefix}alert-icon-size) + var(--#{$prefix}alert-padding-dismissable));

    .dismiss {
      top: var(--#{$prefix}alert-dismiss-btn-position-top);
      right: var(--#{$prefix}alert-dismiss-btn-position-right);
      position: absolute;
    }
  }

}

.alert-success {
  color: #3c763d;
  background-color: #cff2ca;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d4e8f2;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #f2eed9;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f5e1e1;
  border-color: #ebccd1;
}
