/*
┌┐ ┬ ┬┌┬┐┌┬┐┌─┐┌┐┌  ┌─┐┬─┐┌─┐┬ ┬┌─┐
├┴┐│ │ │  │ │ ││││  │ ┬├┬┘│ ││ │├─┘
└─┘└─┘ ┴  ┴ └─┘┘└┘  └─┘┴└─└─┘└─┘┴
*/

@use '../themes/default' as theme;
@use '../functions' as functions;
@use '../mixins' as mixins;

$config: nil !default;
$theme: nil !default;

$prefix: functions.get-config($config, 'prefix');
$color-scheme: functions.get-config($config, 'color-scheme');

$is-shadow-enabled: functions.get-config($config, 'shadow');
$is-border-radius-enabled: functions.get-config($config, 'border-radius');

$button-component: functions.get-theme($theme, 'components.button-group');

.btn-group {
 
  // Remove border radius for inner buttons
  
  .btn:first-child {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }

  .btn:last-child {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }

  .btn:not(:first-child) {
    margin-left: - 1px;
  }

  .btn:not(:first-child, :last-child) {
    @include mixins.border-radius(0 0 0 0);
  }

  // Only one button inside
  .btn:only-child {
    @include mixins.border-radius(var(--#{$prefix}-button-border-radius));
  }

  .btn:hover,
  .btn:focus {
    z-index: 1
  }

}
