/*
┌─┐┌─┐┬─┐┌┬┐
│  ├─┤├┬┘ ││
└─┘┴ ┴┴└──┴┘
 */

@use '../config';
@use '../mixins' as mixins;
@use '../functions' as functions;

$config: nil !default;
$theme: nil !default;

$prefix: functions.get-config($config, 'prefix');
$color-scheme: functions.get-config($config, 'color-scheme');

$is-shadow-enabled: functions.get-config($config, 'shadow');
$is-border-radius-enabled: functions.get-config($config, 'border-radius');


$container-breakpoints: functions.get-config($config, 'container-breakpoints');

$card-component: functions.get-theme($theme, 'components.card');


.card {
  
  @include mixins.generate-properties('card', $card-component, $config);

  background: var(--#{$prefix}-card-background);
  color: var(--#{$prefix}-card-color);
  padding: var(--#{$prefix}-card-padding);
  border: var(--#{$prefix}-card-border);

  @if($is-border-radius-enabled) {
    @include mixins.border-radius(var(--#{$prefix}-card-border-radius));
  }

  @if($is-shadow-enabled) {
    @include mixins.box-shadow(var(--#{$prefix}-card-box-shadow));
  }

}

