@use '../config';
@use '../mixins/container' as container;
@use '../mixins/breakpoints' as breakpoints;

// Container
@if config.$enable-container-classes {

  .container,
  .container-fluid {
    @include container.generate_container();
  }

  @each $breakpoint, $container-max-width in config.$container-max-widths {
    .container-#{$breakpoint} {
      @extend .container-fluid;
    }

    @include breakpoints.media-breakpoint-up($breakpoint, config.$grid-breakpoints) {
      _responsive-container-#{$breakpoint} {
        max-width: $container-max-width;
      }

      $extend-breakpoint: true;

      @each $name, $width in config.$grid-breakpoints {
        @if ($extend-breakpoint) {

          .container#{breakpoints.breakpoint-infix($name, config.$grid-breakpoints)} {
            @extend _responsive-container-#{$breakpoint};
          }

          @if ($breakpoint == $name) {
            $extend-breakpoint: false;
          }
        }
      }
    }
  }
}
