/**
┌─┐┌─┐┌┐┌┌┬┐┌─┐┬┌┐┌┌─┐┬─┐
│  │ ││││ │ ├─┤││││├┤ ├┬┘
└─┘└─┘┘└┘ ┴ ┴ ┴┴┘└┘└─┘┴└─
**/

@use 'sass:map';
@use '../mixins' as mixins;
@use '../functions' as functions;

$config: nil !default;

$is-container-classes-enabled: functions.get-config($config, 'enable.container-classes');
$container-breakpoints: functions.get-config($config, 'container-breakpoints');
$grid-breakpoints: functions.get-config($config, 'grid-breakpoints');

// Container
@if $is-container-classes-enabled {
  
}
