@use '../config';
@use '../mixins';

@use 'sass:map';
@use '../functions' as functions;

$config: nil !default;
$theme: nil !default;

$is-grid-classes-enabled: functions.get-config($config, 'enable.grid-classes');

/* Rows */
.row {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
  }
}

// Columns
@if $is-grid-classes-enabled {
  @include mixins.generate_grid_columns();
}
