/*
┌┐┌┌─┐┬  ┬┬┌─┐┌─┐┌┬┐┬┌─┐┌┐┌
│││├─┤└┐┌┘││ ┬├─┤ │ ││ ││││
┘└┘┴ ┴ └┘ ┴└─┘┴ ┴ ┴ ┴└─┘┘└┘
*/

/* Load settings and functions */
@use "../themes/default" as theme;
@use "../functions" as functions;
@use "../mixins" as mixins;

/* SCSS variables definition requirement */
$config: nil !default;
$theme: nil !default;

/* Variables assigment */
$prefix: functions.get-config($config, "prefix");
$color_scheme: functions.get-config($config, "color-scheme");

@include mixins.generate-component("navbar", $config, $theme);
