/*
┌┐┌┌─┐┬  ┬┬┌─┐┌─┐┌┬┐┬┌─┐┌┐┌
│││├─┤└┐┌┘││ ┬├─┤ │ ││ ││││
┘└┘┴ ┴ └┘ ┴└─┘┴ ┴ ┴ ┴└─┘┘└┘
*/

/* Load settings and functions */
@use "../mixins" as mixins;
@use "../functions" as functions;

/* SCSS variables definition requirement */
$config: nil !default;
$theme: nil !default;

@include mixins.generate-component("navbar", "navbar", $config, $theme);