/**
┌┐┌┌─┐┬  ┬
│││├─┤└┐┌┘
┘└┘┴ ┴ └┘ 
**/

/* Load settings and functions */
@use "../themes/default" as theme;
@use "../functions" as functions;
@use "../mixins" as mixins;

/* SCSS variables definition requirement */
$config: nil !default;
$theme: nil !default;

/* Loading component settings and styling */
$nav-component: functions.get-theme($theme, "components.nav");

%nav {
  @include mixins.generate-properties("nav", $nav-component, $config);
}

@include mixins.generate-wrapper($config) {
  .nav {
    @extend %nav;
  }
}
