/*
┌─┐┌─┐┌─┐┬┌┐┌┌─┐┌┬┐┬┌─┐┌┐┌
├─┘├─┤│ ┬││││├─┤ │ ││ ││││
┴  ┴ ┴└─┘┴┘└┘┴ ┴ ┴ ┴└─┘┘└┘
*/
@use '../mixins' as mixins;
@use '../functions' as functions;

$config: nil !default;
$theme: nil !default;

$prefix: functions.get-config($config, 'prefix');
$color-scheme: functions.get-config($config, 'color-scheme');

$is-shadow-enabled: functions.get-config($config, 'enable.shadow');
$is-border-radius-enabled: functions.get-config($config, 'enable.border-radius');

$pagination: functions.get-theme($theme, 'components.pagination');
.pagination {

  @include mixins.generate-properties('pagination', $pagination, $config);

  @if ($is-shadow-enabled) {
    @include mixins.box-shadow(var(--#{$prefix}-pagination-box-shadow));
  }

  .item {

    &:not(:first-child) {
      margin-left: -1px;
    }

    &:first-child,
    &:last-child {
      .link {
        @if ($is-border-radius-enabled) {
          @include mixins.border-radius(var(--#{$prefix}-pagination-border-radius));
        }
      }
    }

    &.disabled {

    }

    .link {
      display: block;
      text-decoration: none;
      padding: var(--#{$prefix}-pagination-link-padding);
      border: var(--#{$prefix}-pagination-border);
      background: var(--#{$prefix}-pagination-background);

      &:hover {
        border: var(--#{$prefix}-pagination-border-hover);
        background: var(--#{$prefix}-pagination-background-hover);
      }

      &.active {

      }
    }
  }
}
