/*
┌─┐┌─┐┌─┐┬┌┐┌┌─┐┌┬┐┬┌─┐┌┐┌
├─┘├─┤│ ┬││││├─┤ │ ││ ││││
┴  ┴ ┴└─┘┴┘└┘┴ ┴ ┴ ┴└─┘┘└┘
*/
@use '../mixins' as mixins;
@use '../functions' as functions;

$config: nil !default;
$theme: nil !default;

$prefix: functions.get-config($config, 'prefix');
$color-scheme: functions.get-config($config, 'color-scheme');

$is-shadow-enabled: functions.get-config($config, 'enable.shadow');
$is-border-radius-enabled: functions.get-config($config, 'enable.border-radius');

$pagination: functions.get-theme($theme, 'components.pagination');
.pagination {

  @include mixins.generate-properties('pagination', $pagination, $config);

  @if ($is-shadow-enabled) {
    @include mixins.box-shadow(var(--#{$prefix}-pagination-box-shadow));
  }

  .item {

    &:not(:first-child) {
      margin-left: -1px;
    }

    &:first-child {
      .link {
        @if ($is-border-radius-enabled) {
          @include mixins.border-radius(var(--#{$prefix}-pagination-border-radius) 0 0 var(--#{$prefix}-pagination-border-radius));
        }
      }
    }

    &:last-child {
      .link {
        @if ($is-border-radius-enabled) {
          @include mixins.border-radius(0 var(--#{$prefix}-pagination-border-radius) var(--#{$prefix}-pagination-border-radius) 0);
        }
      }
    }

    &.active {
      .link {
        background: var(--#{$prefix}-pagination-active-background);

        &:hover {
          z-index: 3;
          border: var(--#{$prefix}-pagination-active-border-hover);
          background: var(--#{$prefix}-pagination-active-background-hover);
        }
      }
    }

    &.disabled {
      .link {
        pointer-events: none;
        background: var(--#{$prefix}-pagination-disabled-background);
      }
    }

    .link {
      display: block;
      position: relative;
      text-decoration: none;
      padding: var(--#{$prefix}-pagination-link-padding);
      border: var(--#{$prefix}-pagination-border);
      background: var(--#{$prefix}-pagination-background);

      &:hover {
        z-index: 2;
        border: var(--#{$prefix}-pagination-border-hover);
        background: var(--#{$prefix}-pagination-background-hover);
      }

    }
  }
}
