/*
┌─┐┌─┐┌─┐┬┌┐┌┌─┐┌┬┐┬┌─┐┌┐┌
├─┘├─┤│ ┬││││├─┤ │ ││ ││││
┴  ┴ ┴└─┘┴┘└┘┴ ┴ ┴ ┴└─┘┘└┘
*/

@use '../mixins' as mixins;
@use '../functions' as functions;

$config: nil !default;
$theme: nil !default;

$prefix: functions.get-config($config, 'prefix');
$color_scheme: functions.get-config($config, 'color-scheme');

$is_shadow_enabled: functions.get-config($config, 'enable.shadow');
$is_border_radius_enabled: functions.get-config($config, 'enable.border-radius');

$pagination-component: functions.get-theme($theme, 'components.pagination');

.pagination {

  @include mixins.generate-properties('pagination', $pagination-component, $config);

  background: var(--#{$prefix}-pagination-background);
  color: var(--#{$prefix}-pagination-color);
  padding: var(--#{$prefix}-pagination-padding);
  border: var(--#{$prefix}-pagination-border);

  grid-template-columns: var(--#{$prefix}-pagination-grid-template-columns);
  grid-gap: var(--#{$prefix}-pagination-gap);

  .left {
    justify-self: var(--#{$prefix}-pagination-left-column-alignment);
  }

  .center {
    justify-self: var(--#{$prefix}-pagination-center-column-alignment);
  }

  .right {
    justify-self: var(--#{$prefix}-pagination-right-column-alignment);
  }

}
