/*
┌─┐┬  ┌─┐┌─┐┌─┐┬ ┬┌─┐┬  ┌┬┐┌─┐┬─┐┌─┐
├─┘│  ├─┤│  ├┤ ├─┤│ ││   ││├┤ ├┬┘└─┐
┴  ┴─┘┴ ┴└─┘└─┘┴ ┴└─┘┴─┘─┴┘└─┘┴└─└─┘
*/
@use '../mixins' as mixins;
@use '../functions' as functions;

$config: nil !default;
$theme: nil !default;

$prefix: functions.get-config($config, 'prefix');
$color_scheme: functions.get-config($config, 'color-scheme');

$is_shadow_enabled: functions.get-config($config, 'shadow');
$is_border_radius_enabled: functions.get-config($config, 'border-radius');

$placeholder : functions.get-theme($theme, 'components.placeholder');

.placeholder {

  @include mixins.generate-properties('placeholder', $placeholder, $config);

  %placeholder {
    display: flex;
    min-height: var(--#{$prefix}-placeholder-height);

    background-color: var(--#{$prefix}-placeholder-background);
    margin-bottom: var(--#{$prefix}-placeholder-spacing);

    @include mixins.border-radius(var(--#{$prefix}-placeholder-border-radius));
  }

  .el {

    @extend %placeholder;

    &:last-child:not(:first-child) {
      width: var(--#{$prefix}-placeholder-last-line-width);
      margin-bottom: 0;
    }

  }

  // Animation
  &.glow {
    .el {
      animation: placeholder-glow 2s ease-in-out infinite;
    }
  }

  &.wave {
    .el {
      mask-size: 200% 100%;
      -webkit-mask-size: 200% 100%;
      mask-image: linear-gradient(90deg, #0000, #fff, #0000);
      -webkit-mask-image: linear-gradient(90deg, #0000, #fff, #0000);
      animation: placeholder-wave 2s linear infinite;
    }
  }

}

@keyframes placeholder-glow {
  50% {
    opacity: .5
  }
}

@keyframes placeholder-wave {
  100% {
    mask-position: -200% 0;
    -webkit-mask-position: -200% 0;
  }
}
