/*
*
┌─┐┬  ┌─┐┌─┐┌─┐┬ ┬┌─┐┬  ┌┬┐┌─┐┬─┐┌─┐
├─┘│  ├─┤│  ├┤ ├─┤│ ││   ││├┤ ├┬┘└─┐
┴  ┴─┘┴ ┴└─┘└─┘┴ ┴└─┘┴─┘─┴┘└─┘┴└─└─┘
*
*/


@use '../config';
@use '../mixins';

.placeholder {

  --#{config.$prefix}placeholder-height-lg: 2rem;
  --#{config.$prefix}placeholder-height: 0.55rem;
  --#{config.$prefix}placeholder-height-sm: 0.35rem;

  --#{config.$prefix}placeholder-bg: rgba(228, 229, 231, 1);
  --#{config.$prefix}placeholder-border-radius: .1875rem;
  --#{config.$prefix}placeholder-spacing: .6rem;
  --#{config.$prefix}placeholder-last-line-width: 80%;

  cursor: wait;

  %placeholder {
    display: flex;
    min-height: var(--#{config.$prefix}placeholder-height);

    background-color: var(--#{config.$prefix}placeholder-bg);
    margin-bottom: var(--#{config.$prefix}placeholder-spacing);

    @include mixins.border-radius(var(--#{config.$prefix}placeholder-border-radius));
  }

  .el {

    @extend %placeholder;

    &:last-child:not(:first-child) {
      width: var(--#{config.$prefix}placeholder-last-line-width);
      margin-bottom: 0;
    }

    // Sizing
    &.sm {
      min-height: var(--#{config.$prefix}placeholder-height-sm);
    }

    &.lg {
      min-height: var(--#{config.$prefix}placeholder-height-lg);
    }
  }

  //Animation
  &.glow {
    .el {
      animation: placeholder-glow 2s ease-in-out infinite;
    }
  }

  &.wave {
    .el {
      mask-image: linear-gradient(90deg, #0000, #fff, #0000);
      mask-size: 200% 100%;
      animation: placeholder-wave 2s linear infinite;
    }
  }
}

@keyframes placeholder-glow {
  50% {
    opacity: .5
  }
}

@keyframes placeholder-wave {
  100% {
    mask-position: -200% 0%;
  }
}
