/*
┌─┐┬  ┌─┐┌─┐┌─┐┬ ┬┌─┐┬  ┌┬┐┌─┐┬─┐┌─┐
├─┘│  ├─┤│  ├┤ ├─┤│ ││   ││├┤ ├┬┘└─┐
┴  ┴─┘┴ ┴└─┘└─┘┴ ┴└─┘┴─┘─┴┘└─┘┴└─└─┘
*/

/* Load mixins/functions */
@use '../mixins' as mixins;
@use '../functions' as functions;

/* SCSS variables definition requirement */
$config: nil !default;
$theme: nil !default;

@include mixins.generate-component('placeholder', 'placeholder', $config, $theme);

@keyframes placeholder-glow {
  50% {
    opacity: 0.5;
  }
}

@keyframes placeholder-wave {
  100% {
    mask-position: -200% 0;
    -webkit-mask-position: -200% 0;
  }
}

