/*
┌─┐┬┌┬┐┌─┐┌─┐┌─┐┌─┐
└─┐│ ││├┤ │  ├─┤├─┘
└─┘┴─┴┘└─┘└─┘┴ ┴┴
*/

@use '../themes/default' as theme;
@use '../functions' as functions;
@use '../mixins' as mixins;

$config: nil !default;
$theme: nil !default;

$prefix: functions.get-config($config, 'prefix');
$color_scheme: functions.get-config($config, 'color-scheme');

$is_shadow_enabled: functions.get-config($config, 'shadow');
$is_border_radius_enabled: functions.get-config($config, 'border-radius');

$sidecap-component: functions.get-theme($theme, 'components.sidecap');

.sidecap {

  @include mixins.generate-properties('sidecap', $sidecap-component, $config);

  background: var(--#{$prefix}-sidecap-background);
  color: var(--#{$prefix}-sidecap-color);
  box-shadow: var(--#{$prefix}-sidecap-box-shadow);

}