/*
┌┬┐┌─┐┌┐ ┬  ┌─┐
 │ ├─┤├┴┐│  ├┤
 ┴ ┴ ┴└─┘┴─┘└─┘
*/
@use '../mixins' as mixins;
@use '../functions' as functions;

$config: nil !default;
$theme: nil !default;

.table {
  width: 100%;
  color: inherit;
  vertical-align: middle;
  border-color: inherit;

  > :not(caption) > * > * {
    padding: 5px;
    border-bottom-width: 1px;
  }

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: bottom;
  }
}

.table-group-divider {
  border-top: 1px solid #ccc;
}

// Border versions
.table-bordered {
  > :not(caption) > * {
    border-width: 1px;

    > * {
      border-width: 1px;
    }
  }
}

.table-borderless {
  > :not(caption) > * > * {
    border-bottom-width: 0;
  }

  > :not(:first-child) {
    border-top-width: 0;
  }
}

// Zebra-striping
.table-striped {
  > tbody > tr:nth-of-type(odd) > * {
    color: inherit;
  }
}

// For columns
.table-striped-columns {
  > :not(caption) > tr > :nth-child(even) {
    color: inherit;
  }
}

.table-hover {
  > tbody > tr:hover > * {
    color: inherit;
  }
}
