/*
┌┬┐┌─┐┌─┐┬ ┌┬┐┬┌─┐
 │ │ ││ ││  │ │├─┘
 ┴ └─┘└─┘┴─┘┴ ┴┴
*/

/* Load mixins/functions */
@use '../mixins' as mixins;
@use '../functions' as functions;

/* SCSS variables definition requirement */
$config: nil !default;
$theme: nil !default;

@include mixins.generate-component('tooltip', 'has-tooltip', $config, $theme, (variable: (name : 'tooltip')));