@use 'sass:map';
@use "sass:string";

// Main theme _colors
$theme: () !default;
$updated-theme: () !default;

$html-config: (
  root: (

    --font-family-default : string.unquote("system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'"),
    --font-family-monospace : string.unquote("ui-monospace, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace"),

  ),

  html : (

    body : (
      -webkit-text-size-adjust: 100%,
      -webkit-font-smoothing: antialiased,

      margin: 0,

      font-size : 1em,
      font-weight: normal,
      font-family: var(global(--font-family-default)),
      line-height : 1,
      text-rendering: optimizelegibility,
      font-synthesis-weight: none,

      color: var(--color),
      background: var(--background),

      _colors: (
        light : (
          background: '#fff',
          color: '#ccc',
        ),
        dark : (
          background : rgba(18, 20, 23, 1),
          color: '#ccc'
        )
      ),

      _subclasses : (
        '&[scroll-lock]' : (
          overflow: hidden
        )
      )
    ),

    a : (
      text-decoration : none,
      color: var(--color),

      _colors: (
        light : (
          color: '#ccc',
        ),
        dark : (
          color: '#ccc'
        )
      ),

      _subclasses : (
        "&:hover": (
          text-decoration: none
        ),
        "&[target='_blank']" : (
          _subclasses : (
            "&:after" : (
              background: red,
              display: inline-flex,
              width: 12px,
              height: 12px,
              content : ''
            )
          ),
        )
      )

    ),
    ol: (
      margin: 0,
      padding: 0,
      list-style-type: none,
    ),
    ul: (
      margin: 0,
      padding: 0,
      list-style-type: none,
    ),
    dl: (
      margin: 0,
      padding: 0,
      list-style-type: none,
    ),
    img : (
      vertical-align: middle,
      width: auto,
      height: auto,
      max-width: 100%,
    )
  )
);

$updated-theme: map.deep-merge($updated-theme, $html-config);

$content-config: (
  content : (
    a : (
      text-decoration: underline,
      _subclasses : (
        '&:hover' : (
          text-decoration: none,
        )
      )
    ),
    h1 : (
      font-size: 3.75rem,
      line-height: 1,
      font-weight: 500,
      margin: 0,
      padding: 0 0 15px 0
    ),
    h2 : (
      font-size: 3rem,
      line-height: 1,
      font-weight: 500,
      margin: 0,
      padding: 0 0 15px 0
    ),
    h3 : (
      font-size: 2.25rem,
      line-height: 1.3,
      font-weight: 500,
      margin: 0,
      padding: 0 0 15px 0
    ),
    h4 : (
      font-size: 1.875rem,
      line-height: 1.2,
      font-weight: 500,
      margin: 0,
      padding: 0 0 15px 0
    ),
    h5 : (
      font-size: 1.5rem,
      line-height: 1.4,
      font-weight: 500,
      margin: 0,
      padding: 0 0 15px 0
    ),
    h6 : (
      font-size: 1.25rem,
      line-height: 1.5,
      font-weight: 500,
      margin: 0,
      padding: 0 0 15px 0
    ),
    p : (
      margin: 0,
      padding: 0 0 15px 0,
      line-height: clamp(1.25em, 4vw, 1.5em),
    ),
    abbr: (
      attributes : (
        title : (
        )
      )
    ),
    address: (
      margin: 0,
      font-size: 1rem,
      line-height: inherit,
    ),
    ol: (
      margin-bottom: 15px,
    ),
    ul: (
      margin-bottom: 15px,
    ),
    dl: (
      margin-bottom: 15px,
    ),
    dt: (
      font-weight: normal,
    ),
    dd: (
      margin: 0 0 .5rem 0,
      padding: 0
    ),
    b : (
      font-weight: bold
    ),
    strong: (
      font-weight: bold
    ),
    small: (
      font-size: .825rem,
    ),
    mark: (
      padding: .1875em
    ),
    sub: (
      bottom: .25em
    ),
    sup : (
      top: -.5em
    ),
    details: (
      margin-bottom: 15px,
    ),
    pre: (
      font-family: var(global(--font-family-monospace)),
    ),
    code: (
      //box-shadow: rgb(253, 224, 71) 0px -26.529121px 0px 0px inset,
      //color: var(--color),
      //background: var(--background),
      //padding: 2px 5px,
      //_colors: (
      //  light : (
      //    background: '#fff',
      //    color: '#ccc',
      //  ),
      //  dark : (
      //    background : rgb(53, 56, 65),
      //    color: '#fff'
      //  )
      //)
    ),
    kbd: (
    ),
    figure: (
      margin: 0 0 15px 0,
    ),
    img : (
      margin: 0 0 15px 0,
    ),
    svg : (
      vertical-align: middle
    ),
    output: (
    ),
    iframe: (
      margin: 0 0 15px 0,
    ),
    embed : (
      margin: 0 0 15px 0,
    ),
    object: (
      margin: 0 0 15px 0,
    ),
    summary: (
    ),
    progress: (
      vertical-align: baseline
    ),
    form : (
    ),
    label: (
      display: inline-block
    ),
    input : (
    ),
    select : (
      word-wrap: normal
    ),
    checkbox: (
    ),
    textarea : (
    ),
    fieldset: (
    ),
    legend: (
    ),
    caption: (
    ),
    table : (
    ),
    thead : (
    ),
    tbody : (
    ),
    tfoot : (
    ),
    tr : (
    ),
    td : (
    ),
    th : (
    ),
    hr : (
      margin: 15px 0,
      border: 0,
      border-top-width: 1px,
      border-top-style: solid,
      border-top-color: var(--border-top-color),
      _colors: (
        light: (
          border-top-color: #ccc
        ),
        dark: (
          border-top-color: #555
        )
      )
    )
  )
);

$updated-theme: map.deep-merge($updated-theme, $content-config);

$components-config: (
  components: (
    alert: (

      --border-radius: .5rem,
      --grid-template-columns: auto auto 1fr,
      --gap : 0.5rem,
      --padding: 0.825rem,
      --left-column-justify-self: start,
      --left-column-align-self: start,
      --center-column-justify-self: center,
      --center-column-align-self: center,
      --right-column-justify-self: end,
      --right-column-align-self: start,

      box-shadow: var(--shadow),
      background: var(--background),
      border-radius: var(--border-radius),
      border: var(--border),
      outline: 1px solid transparent,
      position: relative,
      display: grid,
      width: 100%,
      max-width: 100%,
      align-items: center,
      line-height: 1rem,
      grid-template-columns: var(--grid-template-columns),
      grid-gap: var(--gap),
      padding: var(--padding),

      _colors: (
        light : (
          background: rgba(246, 246, 247, 1),
          shadow: string.unquote("inset 0 0.0625rem 0 0 rgba(186, 191, 195, 1), inset 0 0 0 0.0625rem rgba(186, 191, 195, 1)"),
        ),
        dark : (
          background: rgb(18, 18, 24),
          border: 1px solid rgba(48, 54, 61, 0.75),
          shadow: string.unquote("rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px"),
        )
      ),

      _subclasses : (
        '.left' : (
          justify-self: var(--left-column-justify-self),
          align-self: var(--left-column-align-self),
        ),
        '.center' : (
          justify-self: var(--center-column-justify-self),
          align-self: var(--center-column-align-self),
        ),
        '.right' : (
          justify-self: var(--right-column-justify-self),
          align-self: var(--right-column-align-self),
        ),
      )

    ),

    accordion : (

      --border-radius: .25rem,
      --padding: 0.5rem,
      --item-padding: 0 0 .5rem 0,

      border-radius: var(--border-radius),
      position: relative,
      width: 100%,

      padding: var(--padding),

      _colors: (
        light : (
        ),
        dark : (
          border: 1px solid rgba(182, 199, 216, .35),
          background: rgb(46, 56, 66),
        )
      ),

      _subclasses : (

        '.item' : (
          padding: var(--item-padding),

          _subclasses : (
            '.question' : (

              display: flex,
              border-bottom: 1px solid #ccc,
              justify-content: space-between,

              _subclasses : (
                '> button' : (
                  color: inherit,
                  background: none,
                  border: none,
                  cursor: pointer,
                  display: flex,
                  padding: 0,
                  font-size: inherit,
                  width: 100%,
                  align-items: center,
                  justify-content: space-between
                ),

                '&.open' : (
                  _subclasses : (
                    '.icon' : (
                      transform: rotate(180deg)
                    )
                  )
                ),
                '.icon' : (

                )
              )
            ),

            '.answer' : (

              display: block,
              padding: 0.5rem 0,
              height: auto,
              opacity: 1,

              transition: string.unquote('opacity 0.15s ease-in, display 0.15s ease-in allow-discrete'),

              // @TODO remove animation onload
              _atrule : (
                  '@starting-style' : (
                      opacity: 0
                  )
              ),

              _subclasses : (
                '&[hidden]' : (
                  display: none,
                  opacity: 0,
                  transition: string.unquote('opacity 0.15s ease-out, display 0.15s ease-out allow-discrete'),
                )
              )
            ),

            '&:last-child' : (
              padding-bottom: 0,
            )
          )
        )
      )
    ),

    badge : (

      --border-radius: .25rem,
      --padding: .125rem .625rem,

      font-size: .75rem,
      line-height: 1rem,
      font-weight: 500,
      white-space: nowrap,
      vertical-align: middle,
      align-items: center,
      display: inline-flex,
      padding: var(--padding),
      border-radius: var(--border-radius),
      color: var(--color),
      background: var(--background),
      box-shadow: var(--box-shadow),
      border: var(--border),

      _colors: (
        light : (
          color: #ccc,
          box-shadow: none
        ),
        dark : (
          color: #ccc,
          background: rgb(40, 50, 60),
          box-shadow: none,
          border: 1px solid #ccc,
        )
      )

    ),
    breadcrumb : (

      --padding: 0 0 0 5px,

      list-style: none,
      align-items: center,
      display: flex,
      flex-wrap: wrap,
      padding: var(--padding),
      margin: 0,

      _colors: (
        light : (
        ),
        dark : (
        )
      ),

      _subclasses : (
        ".item" : (
          display: inline-flex,
          _subclasses : (
            ".link" : (
            )
          )
        )
      )
    ),

    button : (

      --padding: .5rem .75rem,
      --border-radius: .25rem,
      --box-shadow : (
        inset 0 0 0 1px rgba(0, 0, 0, 0.05),
        inset 0 1px 2px 0 rgba(78, 83, 90, 0.1) //   inset -0.0625rem 0 0 #e3e3e3,
        //   inset 0.0625rem 0 0 #e3e3e3,
        //   inset 0 0.0625rem 0 #e3e3e3
      ),

      display: inline-flex,
      align-items: center,
      align-content: center,
      white-space: nowrap,
      text-decoration: none,
      cursor: pointer,
      vertical-align: middle,
      font-size: 1em,
      padding: var(--padding),
      border: var(--border),
      background: var(--background),
      color: var(--color),
      border-radius: var(--border-radius),
      // This one is required for button group use
      position: relative,

      transition: (
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out
      ),

      _colors: (
        light: (
          color: #fff,
          background: #fff
        ),
        dark: (
          // Default
          color: #fff,
          background: rgb(48, 56, 66),
          border: 1px solid rgba(240, 246, 252, .25),
          // Hover state
          hover-color: #fff,
          hover-background: rgb(59, 68, 81),
          hover-border: 1px solid rgba(229, 235, 240, .55),
          // Disabled state
          disabled-color: #484f58,
          disabled-background: #21262d,
          disabled-border: 1px solid rgba(240, 246, 252, 0.1),
          // Active state
          active-color: #fff,
          active-background: rgb(39, 45, 53),
          active-border: 1px solid rgba(240, 246, 252, .25),
          active-shadow: string.unquote("-0.0625rem 0rem 0.0625rem 0rem rgba(26,26,26,0.122) inset,0.0625rem 0rem 0.0625rem 0rem rgba(26,26,26,0.122) inset, 0rem 0.125rem 0.0625rem 0rem rgba(26,26,26,0.2) inset")
        )
      ),

      _subclasses : (
        "&:hover:not(.loading, [disabled], .btn-link)" : (
          color: var(--hover-color),
          background: var(--hover-background),
          border: var(--hover-border),
        ),
        "&:active:not(.loading, [disabled], .btn-link)" : (
          color: var(--active-color),
          background: var(--active-background),
          border: var(--active-border),
          box-shadow: var(--active-shadow),
        ),
        "&.btn-link" : (
          background: transparent,
          border: none,
          box-shadow: none,
          text-decoration: underline,
          _subclasses: (
            "&:hover": (
              text-decoration: none,
            )
          )
        ),
        "&.loading" : (
          cursor: wait,
        ),
        "&.btn[disabled]" : (
          cursor: not-allowed,
          color: var(--disabled-color),
          background: var(--disabled-background),
          border: var(--disabled-border),
          box-shadow: none,
        )
      )
    ),

    button-group: (
      --gap: 10px,
      display: flex,
      flex-wrap: wrap,
      _subclasses : (
        ".btn:first-child" : (
          border-start-end-radius: 0,
          border-end-end-radius: 0,
        ),
        ".btn:last-child" : (
          border-start-start-radius: 0,
          border-end-start-radius: 0,
        ),
        ".btn:not(:first-child)" : (
          margin-left: - 1px
        ),
        ".btn:not(:first-child, :last-child)" : (
          border-radius: 0
        ),
        ".btn:only-child" : (
        ),
        ".btn:hover, .btn:focus" : (
          z-index: 1
        ),
        "&.separated" : (
          gap: var(--gap),
          --border-radius: 5px,
          _subclasses : (
            ".btn" : (
              margin: 0,
              border-radius: var(--border-radius)
            )
          )
        )
      )
    ),

    dropdown: (

      position: relative,
      display: inline-block,
      padding: 0 0 .5rem 0,

      _subclasses : (
        '&.on-hover:hover' : (
            _subclasses : (
              '.menu' : (
                display: block,
                opacity: 1,
                transform: translateY(0),

                _atrule : (
                    '@starting-style' : (
                        opacity: 0,
                        transform: translateY(-5px)
                    )
                ),
              )
            )
        ),

        '.menu' : (
          display: none,
          position: absolute,
          top: 100%,
          left: 0,
          border-radius: 0.25rem,
          padding: 4px 0,
          width: 200px,
          height: auto,

          border: var(--border),
          background: var(--background),

          transition: string.unquote('opacity 0.15s ease-in, transform 0.15s ease-in, display 0.15s ease-in allow-discrete'),
          transform: translateY(-5px),
          opacity: 0,
        )
      ),

      _colors: (
        light : (
          border: 1px solid #dddee0,
          background: rgb(200, 200, 200),
        ),
        dark : (
          border: 1px solid rgba(48, 54, 61, .75),
          background: rgb(22, 27, 34),
          shadow: rgba(1, 4, 9, 0.4) 0 1px 0 0
        )
      )
    ),

    card : (

      --border-radius: .25rem,
      --padding: .5rem,

      background: var(--background),
      padding: var(--padding),
      border-radius: var(--border-radius),
      box-shadow: var(--shadow),
      border: var(--border),
      height: 100%,
      margin: 0,

      _colors: (
        light : (
          background: rgb(242, 242, 242),
          border : 1px solid rgb(235, 235, 235),
          box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.12),
        ),
        dark : (
          border: 1px solid #3d444d,
          background: rgb(22, 27, 34),
          shadow: rgba(1, 4, 9, 0.4) 0 1px 0 0
        )
      )
    ),

    container : (
      margin: 0 auto,
      width: 100%,
      _colors: (
        light : (),
        dark : ()
      ),
    ),

    form : (
      label : (
        display: block,
        margin-bottom: 10px,
      ),
      input : (

        --border-radius: .25rem,
        --padding: .5rem .75rem,

        display: block,
        _colors: (
          light : (
          ),
          dark : (
            color: #fff,
            background: rgb(48, 56, 66),
            border: 1px solid rgba(240, 246, 252, .25),
          )
        )
      ),
      select : (
        --border-radius: .25rem,
        --padding: .5rem .75rem,
        display: block,
        _colors: (
          light : (
          ),
          dark : (
            color: #fff,
            background: rgb(48, 56, 66),
            border: 1px solid rgba(240, 246, 252, .25),
          )
        )
      ),
      checkbox : (
        --border-radius: .25rem,
        --padding: .5rem .75rem,
        _colors: (
          light : (
          ),
          dark : (
            color: #fff,
            background: rgb(48, 56, 66),
            border: 1px solid rgba(240, 246, 252, .25),
          )
        )
      ),
      radio : (
        --border-radius: .25rem,
        --padding: .5rem .75rem,
        _colors: (
          light : (
          ),
          dark : (
            color: #fff,
            background: rgb(48, 56, 66),
            border: 1px solid rgba(240, 246, 252, .25),
          )
        )
      ),
      validation : (
      )
    ),

    table : (
      width: 100%,
      _subclasses : (
        '.top > * > *' : (
          padding: 0.5rem 0,
          border-bottom: 1px solid rgb(73, 80, 87),
        ),
        '.middle > * > *' : (
            padding: 0.5rem 0,
            border-bottom: 1px solid rgb(73, 80, 87),
        ),
        '.bottom > * > *' : (
            padding: 0.5rem 0,
        ),
        '&.stripe' : (
          _subclasses : (
            'tbody tr:nth-child(odd) td' : (
              background: rgba(33, 37, 41, 0.95),
            )
          )
        ),
        '&.hover' : (
            _subclasses : (
                'tbody tr:hover td' : (
                    background: rgba(33, 37, 41, 0.95),
                )
            )
        )
      )
    ),

    overlay : (

      background : var(--background),

      position: absolute,
      top: 0,
      bottom: 0,
      left: 0,
      right: 0,

      width: 100%,
      height: 100%,

      display: none,
      align-items: center,
      justify-content: center,

      _colors: (
        light : (
        ),
        dark : (
          background: rgba(20, 20, 20, .85),
        )
      ),

      _subclasses : (
        '&.show' : (
          display: flex
        )
      )
    ),

    pagination : (

      --grid-template-columns: auto auto 1fr,
      --gap : 10px,
      --left-column-aligment: start,
      --center-column-alignment: center,
      --right-column-alignment: end,

      position: relative,
      display: grid,
      width: 100%,
      max-width: 100%,
      align-items: center,
      grid-template-columns: var(--grid-template-columns),
      grid-gap: var(--gap),

      _subclasses : (
        ".left" : (
          justify-self: var(--left-column-alignment),
        ),
        ".center" : (
          justify-self: var(--center-column-alignment),
        ),
        ".right" : (
          justify-self: var(--right-column-alignment)
        )
      ),
    ),

    placeholder : (

      --min-height: 0.55rem,
      --border-radius: .1875rem,
      --gap: .6rem,

      cursor: wait,
      display: flex,
      flex-direction: column,
      gap: var(--gap),

      _colors: (
        light : (
          background: #ccc
        ),
        dark : (
          background: #ccc
        )
      ),

      _subclasses : (
        ".el" : (
          min-height: var(--min-height),
          border-radius: var(--border-radius),
          background: var(--background)
        ),
        "&.glow" : (
          _subclasses : (
            ".el" : (
              animation: placeholder-glow 2s ease-in-out infinite,
            )
          )
        ),
        "&.wave" : (
          _subclasses : (
            ".el" : (
              mask-size: 200% 100%,
              -webkit-mask-size: 200% 100%,
              mask-image: linear-gradient(90deg, #0000, #fff, #0000),
              -webkit-mask-image: linear-gradient(90deg, #0000, #fff, #0000),
              animation: placeholder-wave 2s linear infinite,
            )
          )
        )
      ),

      _animations : (
        'placeholder-glow' : (
          '50%' : (
            opacity: 0.5,
          )
        ),
        'placeholder-wave' : (
            '100%' : (
              mask-position: -200% 0,
              -webkit-mask-position: -200% 0,
            )
        )
      )
    ),

    modal : (

      display: none,
      height: auto,

      align-items: center,

      //background: var(--background),
      //box-shadow: var(--box-shadow),
      //border-left: 1px solid rgb(4, 90, 195),

      //will-change: transform,
      //transition: transform 300ms cubic-bezier(0.25,0.1,0.25,1),
      //transform-origin: right,
      //transform: translateX(100%),

      padding: 0.5rem,
      background: rgb(13, 17, 23),
      max-width: 42rem,
      width: 100%,
      margin: 0 auto,
      border: 1px solid #3d444d,
      border-radius: 7px,
      transition: string.unquote('opacity 0.15s ease-in, display 0.15s ease-in allow-discrete, transform 0.15s ease-in'),
      transform: scale(.75),

      box-shadow: string.unquote('rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;'),
      opacity: 0,
      //transition: string.unquote('opacity 1s, display 1s allow-discrete'),

      _colors: (
        light : (
          //background : #ccc,
          box-shadow: string.unquote('0rem 1.25rem 1.25rem -0.5rem rgba(26,26,26,.28)'),
        ),
        dark: (
          //background: rgb(13, 17, 23),
          box-shadow: string.unquote('rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;'),
        )
      ),

      _subclasses : (
        '&[open]' : (
          display: flex,
          opacity: 1,
          transform: scale(1),
          transition: string.unquote('opacity 0.15s ease-out, display 0.15s ease-out allow-discrete, transform 0.15s ease-out'),
          _atrule : (
            '@starting-style' : (
              opacity: 0,
              transform: scale(.75)
            )
          ),
        ),
        '.top' : (
          display: flex,
          justify-content: space-between,
        ),
        '.middle' : (
          height: 100%,
          padding: 1rem 0,
        ),
        '.bottom' : (
          display: flex,
          justify-content: flex-end,
        )
      ),

      _animations : (
        'modal_animation_toggle' : (

        )
      )
    ),

    nav : (

      --flex-direction: row,
      --align-items: center,
      --gap: 0,

      display: flex,
      flex-direction: var(--flex-direction),
      align-items: var(--align-items),
      gap : var(--gap),
      margin: 0,
      padding: 0,
      list-style-type: none,

      _colors: (
        light : (
        ),
        dark: (
        )
      ),

      _subclasses : (
        '&.horizontal' : (
          --align-items: center,
          --flex-direction : row,
          --gap : 12.5px,
        ),
        '&.vertical' : (
          --flex-direction : column,
          --align-items: auto,
          --gap : 0.5rem,
        ),
        '&.tabs' : (
        ),
        '&.pills' : (
        ),
        '.item' : (
          width: auto,
          _subclasses : (
            '.link' : (
              display: inline-flex,
              color: var(--color),
              _colors: (
                light : (
                  color: rgba(255, 255, 255, 1),
                ),
                dark : (
                  color: rgba(255, 255, 255, 1),
                )
              ),
              _subclasses: (
                '&:hover' : (
                  text-decoration : none
                )
              )
            ),
          )
        )
      )
    ),

    navbar : (

      --grid-template-columns: auto auto 1fr,
      --gap : 10px,
      --left-column-aligment: start,
      --center-column-alignnent: center,
      --right-column-alignment: end,

      position: relative,
      display: grid,
      width: 100%,
      max-width: 100%,
      align-items: center,
      margin: 0,
      padding: 0,

      grid-template-columns: var(--grid-template-columns),
      grid-gap: var(--gap),

      z-index: 5,

      _colors: (
        light : (
        ),
        dark: (
        )
      ),

      _subclasses : (
        ".left" : (
          justify-self: var(--left-column-alignment),
        ),
        ".center" : (
          justify-self: var(--center-column-alignment),
        ),
        ".right" : (
          justify-self: var(--right-column-alignment)
        )
      )
    ),

    sidecap : (

      --width : 20.75rem,

      display: none,
      flex-direction: column,

      position: fixed,
      top: 0,
      right: 0,
      height: 100%,

      width: var(--width),
      background: var(--background),
      box-shadow: var(--box-shadow),
      //border-left: 1px solid rgb(4, 90, 195),
      transform: translateX(100%),
      transition: string.unquote('opacity 0.3s ease-in, transform 0.3s ease-in, display 0.3s ease-in allow-discrete'),
      opacity : 0,

      _colors: (
        light : (
          background : #ccc,
          box-shadow: string.unquote('0rem 1.25rem 1.25rem -0.5rem rgba(26,26,26,.28)'),
        ),
        dark: (
          background: rgb(13, 17, 23),
          box-shadow: string.unquote('rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;'),
        )
      ),

      _subclasses : (
        '&.open' : (
          transform: translateX(0),
          display: flex,
          opacity: 1,
          transition: string.unquote('opacity 0.3s ease-out, transform 0.3s ease-out, display 0.3s ease-out allow-discrete'),
          _atrule : (
            '@starting-style' : (
              opacity: 0,
              transform: translateX(100%),
            )
          ),
        ),
        '.top' : (
          display: flex,
          padding: 0.25rem,
          justify-content: space-between,
        ),
        '.middle' : (
          height: 100%,
          padding: 0.25rem,
        ),
        '.bottom' : (
          display: flex,
          padding: 0.25rem,
        )
      )
    )
  )
);

$updated-theme: map.deep-merge($updated-theme, $components-config);

$theme: map.deep-merge($updated-theme, $theme);