@use 'sass:map';
@use "sass:string";

// Main theme colors
$custom: nil !default;
$theme: () !default;

$html-config: (
  root: (
    --font-family-default : string.unquote("system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'"),
    --font-family-monospace : string.unquote("SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace"),
  ),
  html : (
    body : (

      margin: 0,
      -webkit-text-size-adjust: 100%,

      font-size : 1rem,
      font-weight: normal,
      line-height : 1,
      font-family: var(--root-font-family-default),

      color: var(--body-color),
      background: var(--body-background),

      colors: (
        light : (
          background: '#fff',
          color: '#ccc',
        ),
        dark : (
          background : rgba(18, 20, 23, 1),
          color: '#ccc'
        )
      )
    ),
    a : (
      text-decoration : underline,
      color: var(--a-color),
      pseudo : (
        hover : (
          text-decoration : 'none'
        )
      ),
      colors: (
        light : (
          color: '#ccc',
        ),
        dark : (
          color: '#ccc'
        )
      )
    ),
    h1 : (
      font-size: 3.5rem,
      line-height : inherit,
      margin: 0,
      font-weight: 500
    ),
    h2 : (
      font-size: 2.8rem,
      line-height : inherit,
      margin: 0,
      font-weight: 500
    ),
    h3 : (
      font-size: 2.4rem,
      line-height : inherit,
      margin: 0,
      font-weight: 500
    ),
    h4 : (
      font-size: 2rem,
      line-height : inherit,
      margin: 0,
      font-weight: 500
    ),
    h5 : (
      font-size: 1.8rem,
      line-height : inherit,
      margin: 0,
      font-weight: 500
    ),
    h6 : (
      font-size: 1.625rem,
      line-height : inherit,
      margin: 0,
      font-weight: 500
    ),
    p : (
      margin: 0
    ),
    abbr: (
      attributes : (
        title : (

        )
      )
    ),
    address: (
      margin: 0,
      font-size: 1rem,
      line-height: inherit,
    ),
    ol: (
      list-style: none,
      margin: 0,
      padding: 0
    ),
    ul: (
      list-style: none,
      margin: 0,
      padding: 0
    ),
    dl: (
      list-style: none,
      margin: 0,
      padding: 0
    ),
    dt: (
      font-weight: normal,
    ),
    dd: (
      margin: 0 0 .5rem 0,
    ),
    blockquote: (
      margin: 0 0 1rem
    ),
    b : (
      font-weight: bold
    ),
    strong: (
      font-weight: bold
    ),
    small: (
      font-size: .825rem,
    ),
    mark: (
      padding: .1875em
    ),
    sub: (
      bottom: .25em
    ),
    sup : (
      top: -.5em
    ),
    pre: (

    ),
    code: (

    ),
    kbd: (

    ),
    figure: (

    ),
    img : (
      vertical-align: middle
    ),
    svg : (
      vertical-align: middle
    ),
    output: (
    ),
    iframe: (

    ),
    summary: (

    ),
    progress: (
      vertical-align: baseline
    ),
    form : (
    ),
    label: (
      display: inline-block
    ),
    input : (
    ),
    select : (
      word-wrap: normal
    ),
    checkbox: (
    ),
    textarea : (

    ),
    fieldset: (

    ),
    legend: (

    ),
    caption: (
    ),
    table : (

    ),
    thead : (
    ),
    tbody : (
    ),
    tfoot : (
    ),
    tr : (
    ),
    td : (
    ),
    th : (

    ),
    hr : (
      margin: 15px 0 0 0,
      border: 0,
      border-top-width: 1px,
      border-top-style: solid,
      colors: (
        light: (
          border-top-color: #ccc
        ),
        dark: (
          border-top-color: #555
        )
      )
    )
  )
);

$theme: map.deep-merge($html-config, $theme);

$components-config: (
  components: (
    alert: (

      --border-radius: .25rem,
      --padding: 1.25rem,

      outline: 1px solid transparent,
      position: relative,
      display: flex,

      colors: (

        light : (
          background: rgba(246, 246, 247, 1),
//          box-shadow: (inset 0 0.0625rem 0 0 rgba(186, 191, 195, 1), inset 0 0 0 0.0625rem rgba(186, 191, 195, 1))
        ),

        dark : (
          background: rgb(48, 56, 66),
          border: 1px solid rgba(182, 199, 216, .35)
//          --box-shadow: (inset 0 0.0625rem 0 0 rgba(186, 191, 195, 1), inset 0 0 0 0.0625rem rgba(186, 191, 195, 1))
        )
      ),
    ),

    accordion : (
      
      --border-radius: .25rem,
      --padding: 1.25rem,

      position: relative,

      colors: (
        light : (

        ),

        dark : (
          background: rgb(46, 56, 66),
        )
      )
    ),

    badge : (

      --border-radius: .25rem,
      --padding: 1.25rem,

      font-size : 1rem,
      font-weight: normal,
      border-radius: 3px,
      line-height: 1,
      white-space: nowrap,
      vertical-align: baseline,

      colors: (

        light : (
          color: #ccc,
          box-shadow: none
        ),

        dark : (
          color: #ccc,
          box-shadow: none
        )
      )
    ),

    breadcrumb : (

      --padding: 0 0 0 5px,
      list-style: none,
      align-items: center,

      display: flex,
      flex-wrap: wrap,

      colors: (
        light : (

        ),

        dark : (

        )
      )
    ),

    button : (
 
     --border-radius: .25rem,
     --box-shadow : (
        inset 0 0 0 1px rgba(0,0,0,0.05),inset 0 1px 2px 0 rgba(78,83,90,0.1)
     //   inset 0 -0.0625rem 0 #b5b5b5,
     //   inset -0.0625rem 0 0 #e3e3e3,
     //   inset 0.0625rem 0 0 #e3e3e3,
     //   inset 0 0.0625rem 0 #e3e3e3
     ),
     --padding: .5rem .75rem,

      display: inline-flex,
      align-items: center,
      align-content: center,
      white-space: nowrap,
      user-select: none,
      text-decoration: none,
      cursor: pointer,
      // This one is required for button group use
      position: relative,

      transition: (
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out
      ),

      colors: (
        
        light: (
          color: #fff,
          background: #fff
        ),

        dark: (
          // Default
          color: #fff,
          background: rgb(48, 56, 66),
          border: 1px solid rgba(240, 246, 252, .25),

          // Hover state
          hover-color: #fff,
          hover-background: rgb(59, 68, 81),
          hover-border: 1px solid rgba(229, 235, 240, .55),

          // Disabled state
          disabled-color: #484f58,
          disabled-background: #21262d,
          disabled-border: 1px solid rgba(240,246,252,0.1),
        )
      ),
    ),

    card : (
     --border-radius: .25rem,
      --padding: 10px,
      margin: 0,
      colors: (
        light : (
          background: rbg(200, 200, 200)
        ),
        dark : (
          border: 1px solid rgba(240, 246, 252, .25),
          background: rgb(13, 17, 23)
        )
      )
    ),

    form : (
      label : (
        display: block,
        margin-bottom: 10px,
      ),
      
      input : (
        --border-radius: .25rem,
        --padding: .5rem .75rem,
        
        display: block,

        colors: (
          light : (

          ),
          dark : (
            color: #fff,
            background: rgb(48, 56, 66),
            border: 1px solid rgba(240, 246, 252, .25),
          )
        )

      ),

      select : (
        --border-radius: .25rem,
        --padding: .5rem .75rem,
        
        display: block,

        colors: (
          light : (

          ),
          dark : (
            color: #fff,
            background: rgb(48, 56, 66),
            border: 1px solid rgba(240, 246, 252, .25),
          )
        )

      ),

      checkbox : (
        --border-radius: .25rem,
        --padding: .5rem .75rem,
        
        colors: (
          light : (

          ),
          dark : (
            color: #fff,
            background: rgb(48, 56, 66),
            border: 1px solid rgba(240, 246, 252, .25),
          )
        )

      ),

      radio : (
        --border-radius: .25rem,
        --padding: .5rem .75rem,
        
        colors: (
          light : (

          ),
          dark : (
            color: #fff,
            background: rgb(48, 56, 66),
            border: 1px solid rgba(240, 246, 252, .25),
          )
        )

      ),

      validation : (

      )
    ),

    table : (

    ),

    pagination : (

      --item-margin: 0,
      --link-padding: .6rem,
      --border-radius: .1875rem,

      display: flex,
      list-style: none,

      colors: (
        light : (
          box-shadow: none,
          --background: #f1f2f4,
          --background-hover: #f1f2f4,
          --border: 1px solid #caced3,
          --border-hover: 1px solid #cacfff
        ),

        dark : (
          box-shadow: none,
          --background: rgba(33, 38, 45, 1),
          --background-hover: #343d46,
          --border: 1px solid rgba(240, 246, 252, 0.1),
          --border-hover: 1px solid rgba(187, 187, 199, 1),
          --active-background: rgba(21, 84, 182, 1),
          --active-border-hover: 1px solid rgba(202, 203, 255, 1),
          --active-background-hover: rgba(21, 84, 182, 1),
          --disabled-background: rgba(74, 82, 89, 1)
        )
      )

    ),

    placeholder : (

      --height: 0.55rem,
      --background: rgba(228, 229, 231, 1),
      --border-radius: .1875rem,
      --spacing: .6rem,
      --last-line-width: 80%,

      cursor: wait,

      colors: (

        light : (
          background: #ccc
        ),

        dark : (
          background: #ccc
        )
      )
    ),

    nav : (

      colors: (
        light : (
          background : #ccc
        ),
        
        dark: (
          background: rgb(45,56,66)
        )

      )
    )
  )
);

$theme: map.deep-merge($components-config, $theme);

$updated: map.deep-merge($theme, $custom);
