@use '../themes/default' as theme;
@use '../functions' as functions;
@use '../mixins' as mixins;

$config: nil !default;
$theme: nil !default;

$prefix: functions.get-config($config, 'prefix');
$color_scheme: functions.get-config($config, 'color-scheme');

$is_shadow_enabled: functions.get-config($config, 'shadow');
$is_border_radius_enabled: functions.get-config($config, 'border-radius');

$label-component: functions.get-theme($theme, 'components.form.checkbox');

.checkbox {
  @include mixins.generate-properties('checkbox', $label-component, $config);

  background: var(--#{$prefix}-select-background);
  color: var(--#{$prefix}-select-color);
  padding: var(--#{$prefix}-select-padding);
  border: var(--#{$prefix}-select-border);

  @if($is_border_radius_enabled) {
    @include mixins.border-radius(var(--#{$prefix}-select-border-radius));
  }

  @if($is_shadow_enabled) {
    @include mixins.box-shadow(var(--#{$prefix}-select-box-shadow));
  }

}

