@use '../themes/default' as theme;
@use '../functions' as functions;
@use '../mixins' as mixins;

$config: nil !default;
$theme: nil !default;

$prefix: functions.get-config($config, 'prefix');
$color-scheme: functions.get-config($config, 'color-scheme');

$is-shadow-enabled: functions.get-config($config, 'shadow');
$is-border-radius-enabled: functions.get-config($config, 'border-radius');

$label-component: functions.get-theme($theme, 'components.form.select');

.select {
  @include mixins.generate-properties('select', $label-component, $config);

  background: var(--#{$prefix}-select-background);
  color: var(--#{$prefix}-select-color);
  padding: var(--#{$prefix}-select-padding);
  border: var(--#{$prefix}-select-border);
  appearance: none;
  -webkit-appearance: none;

  @if($is-border-radius-enabled) {
    @include mixins.border-radius(var(--#{$prefix}-select-border-radius));
  }

  @if($is-shadow-enabled) {
    @include mixins.box-shadow(var(--#{$prefix}-select-box-shadow));
  }

}
